doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    meta(http-equiv='-UA-Compatible',content='ie=edge')
    script(src='/utils/resize.js')
  body
    block content
  script(src='/javascripts/index.js')
