.contanier{
    padding: 10px;

    .card{
        margin-bottom: .5rem;
        background: white;
        border-radius: .5rem;
        padding: .75rem;


        ul.comment{
            padding-left: 20px;
            margin: 0;
            .comment-item{
                margin-bottom: .5rem;
                color: #666;
                font-size: .5rem;

                .high-light{
                    color: #c23531;
                    margin: 0 .25rem;
                    font-size: .75rem;
                }
            }
        }

        .title{
            margin: 0 0 .5rem;
        }
    }
}