{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "polyfilling": false,
            "regenerator": true
          }
        ],
        [
          "@babel/plugin-proposal-decorators", 
          { 
            "legacy": true
          }
        ],
        [
          "import",
          {
           "libraryName": "antd",
           "style": "css"
          }
         ]
    ]
}